/* ------ general style ------ */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat';
  color: #FFF;
  background-color: #EEE;
}